body {
  background-color: #7cd1a8;
  color: black;
  margin: auto;
  font-family: Fantasy;
  padding-top: 20px;
}

.name-square {
  border-style: solid;
  border-width: 1px;
  /* display: inline-block; */
  /* width: auto;
  padding: 20px;
  margin: 2px; */
  /* box-shadow: 2px 3px black; */
}
.team-square {
  border-style: solid;
  border-width: 2px;
  /* display: inline-block; */
  /* width: auto;
    padding: 20px;
    margin: 2px; */
  box-shadow: 2px 3px black;
}

.remove-item {
  display: none;
}

.line-through-name {
  text-decoration: line-through;
}

h1 {
  text-align: center;
}

.green-bg {
  background-color: #00db71;
}

h2 {
  text-align: center;
}

input[type="number"] {
  width: 150px;
  font-size: 100px;
  border-radius: 11px;
  margin: auto;
  display: block;
}
