body {
  background-color: #7cd1a8;
  color: black;
  margin: auto;
  font-family: Fantasy;
  padding-top: 20px;
}

.name-square {
  border-style: solid;
  border-width: 1px;
}
.team-square {
  border-style: solid;
  border-width: 2px;
  box-shadow: 2px 3px black;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

input[type="number"] {
  width: 150px;
  font-size: 100px;
  border-radius: 11px;
  margin: auto;
  display: block;
}
